body {
  background-color: #333333;
}

.outer{
  width: 100%;
  padding: 0;
  display: table;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

.middle{
  padding: 0;
  vertical-align: middle;
  display: table-cell;
  margin: 0;
}

.inner{
  width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  color: #9d9d9d;
}

md-input-container.md-docs-dark-theme .md-input {
    color: rgba(255,255,255,1.0);
    border-color: rgba(255,255,255,0.12);
}