body {
  background-color: #333333;
}

.outer {
  width: 100%;
  padding: 0;
  display: table;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

.middle {
  padding: 0;
  vertical-align: middle;
  display: table-cell;
  margin: 0;
}

.inner {
  max-width: 800px;
  width: auto;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  color: #9d9d9d;
}

img#hero{
  width: 25%;
  height: auto;
  margin: auto;
}

@media(max-width: 500px){
  img#hero{
    width: 40%;
  }
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
  border-color: #a6192e !important;
}

md-input-container label{
  color: #9d9d9d;
}

md-input-container#searchContainer{
  width: 80%;
}

input#search{
  color: #9d9d9d !important;
  text-align: center;
}

md-input-container .md-input{
  border-color: #d0d3d4;
}

md-input-container label:not(.md-no-float):not(._md-container-ignore){
  transform-origin: center top;
  color: #9d9d9d;
}